* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prime {
  position: relative;
  display: inline-block;
}

h1 {
  position: absolute;
  top: 142px;
  text-align: center;
  font-family: sans-serif;
  font-size: 65px;
  color: aliceblue;
  text-shadow: 2px 2px 4px;
  font-weight: 700;
}

.primg {
  display: block;
  width: 100%;
  height: 350px;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
}

.par2 {
  position: relative;
  display: flex;
  gap: 36%;
  background-color: black;
  width: 100%;
  height: 579px;
}

.sala {
  width: 428px;
  height: 435px;
}

h3 {
  position: absolute;
  top: 76%;
  left: 42px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: white;
}

.prip {
  position: absolute;
  left: 4px;
  top: 84%;
  width: 379px;
  height: 185px;
  font-size: 20px;
  color: white;
}

.coz {
  width: 428px;
  height: 435px;
}

h4 {
  position: absolute;
  top: 76%;
  left: 63%;
  font-size: 45px;
  font-weight: 700;
  text-wrap-mode: nowrap;
  color: white;
}

.segp {
  position: absolute;
  top: 84%;
  left: 63%;
  width: 381px;
  font-size: 20px;
  color: white;
}

.pala {
  position: absolute;
  width: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
}

.slider {
  position: absolute;
  margin: 0 auto;
  margin-left: 1004px;
  width: 340px;
  height: 340px;
  margin-top: 228px;
  overflow: hidden;
}

.slides {
  width: 340%;
  height: 340px;
  display: flex;
}

.slides input {
  display: none;
}

.cad first {
  width: 25%;
  position: absolute;
}

.cad img {
  width: 340px;
  height: 340px;
}

.manual-navigation {
  position: absolute;
  width: 336px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 0px;
  transition: 2s;
}

.manual-btn:not(:last-child) {
  margin-right: 27px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -29.4%;
}

#radio3:checked ~ .first {
  margin-left: -58.8%;
}

#radio4:checked ~ .first {
  margin-left: -88.2%;
}

#radio5:checked ~ .first {
  margin-left: -117.7%;
}

#radio6:checked ~ .first {
  margin-left: -147.1%;
}

#radio7:checked ~ .first {
  margin-left: -176.5%;
}

#radio8:checked ~ .first {
  margin-left: -206%;
}

.slider1 {
  position: absolute;
  width: 340px;
  height: 340px;
  margin-left: 0;
  margin-top: 228px;
  overflow: hidden;
}

.slides1 {
  width: 340%;
  height: 340px;
  display: flex;
}

.slides1 input {
  display: none;
}

.mov ninth {
  width: 25%;
  position: absolute;
}

.mov img {
  width: 340px;
  height: 340px;
}

.manu-navigation {
  position: absolute;
  width: 336px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manu-btnn {
  padding: 0px;
  transition: 2s;
}

.manu-btnn:not(:last-child) {
  margin-right: 27px;
}

#radio9:checked ~ .ninth {
  margin-left: 0;
}
#radio10:checked ~ .ninth {
  margin-left: -340px;
}

#radio11:checked ~ .ninth {
  margin-left: -679.8px;
}

#radio12:checked ~ .ninth {
  margin-left: -1020px;
}

#radio13:checked ~ .ninth {
  margin-left: -1360px;
}

#radio14:checked ~ .ninth {
  margin-left: -1700px;
}

#radio15:checked ~ .ninth {
  margin-left: -2040px;
}

#radio16:checked ~ .ninth {
  margin-left: -2394px;
}
