* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prime {
  position: relative;
  display: inline-block;
}

h1 {
  position: absolute;
  top: 142px;
  text-align: center;
  font-family: sans-serif;
  font-size: 65px;
  color: aliceblue;
  text-shadow: 2px 2px 4px;
  font-weight: 700;
}

.primg {
  display: block;
  width: 100vw;
  height: 350px;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
}

.par2 {
  position: relative;
  display: flex;
  background-color: black;
  width: 100vw;
  height: 931px;
}

.sala {
  position: relative;
  left: 70px;
  width: 428px;
  height: 435px;
}

h3 {
  position: absolute;
  top: 432px;
  left: 122px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: white;
}

.prip {
  position: absolute;
  left: 82px;
  top: 490px;
  width: 399px;
  height: 185px;
  font-size: 20px;
  color: white;
}

.coz {
  position: relative;
  left: 430px;
  width: 428px;
  height: 435px;
}

h4 {
  position: absolute;
  top: 432px;
  left: 893px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-wrap-mode: nowrap;
  color: white;
}

.segp {
  position: absolute;
  top: 490px;
  left: 880px;
  width: 399px;
  font-size: 20px;
  color: white;
}

.palap {
  position: absolute;
  width: 628px;
  top: 1017px;
  left: 379px;
  font-family: sans-serif;
  font-size: 31px;
  font-weight: 700;
  color: rgb(218, 215, 215);
}

.slider {
  position: absolute;
  left: 1016px;
  top: 1003px;
  width: 340px;
  height: 340px;
  overflow: hidden;
}

.slides {
  width: 340%;
  height: 340px;
  display: flex;
}

.slides input {
  display: none;
}

.cad first {
  width: 25%;
  position: absolute;
}

.cad img {
  width: 340px;
  height: 340px;
}

.manual-navigation {
  position: absolute;
  width: 336px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 0px;
  transition: 2s;
}

.manual-btn:not(:last-child) {
  margin-right: 27px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -29.4%;
}

#radio3:checked ~ .first {
  margin-left: -58.8%;
}

#radio4:checked ~ .first {
  margin-left: -88.2%;
}

#radio5:checked ~ .first {
  margin-left: -117.7%;
}

#radio6:checked ~ .first {
  margin-left: -147.1%;
}

#radio7:checked ~ .first {
  margin-left: -176.5%;
}

#radio8:checked ~ .first {
  margin-left: -206%;
}

.slider1 {
  position: absolute;
  top: 1003px;
  width: 340px;
  height: 340px;
  overflow: hidden;
}

.slides1 {
  width: 340%;
  height: 340px;
  display: flex;
}

.slides1 input {
  display: none;
}

.mov ninth {
  width: 25%;
  position: absolute;
}

.mov img {
  width: 340px;
  height: 340px;
}

.manu-navigation {
  position: absolute;
  width: 336px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manu-btnn {
  padding: 0px;
  transition: 2s;
}

.manu-btnn:not(:last-child) {
  margin-right: 27px;
}

#radio9:checked ~ .ninth {
  margin-left: 0;
}
#radio10:checked ~ .ninth {
  margin-left: -340px;
}

#radio11:checked ~ .ninth {
  margin-left: -679.8px;
}

#radio12:checked ~ .ninth {
  margin-left: -1020px;
}

#radio13:checked ~ .ninth {
  margin-left: -1360px;
}

#radio14:checked ~ .ninth {
  margin-left: -1700px;
}

#radio15:checked ~ .ninth {
  margin-left: -2040px;
}

#radio16:checked ~ .ninth {
  margin-left: -2394px;
}

h5 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
}

.form {
  max-width: 350px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 10px;
  background-color: rgb(245, 242, 242);
  margin: auto;
  padding: 24px;
  font-size: 25px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(10, 10, 10);
  outline: transparent;
  font-size: 19px;
}

.form select {
  background-color: transparent;
  outline: transparent;
  font-size: 32px;
  border-radius: 3px;
}

.btn {
  font-size: 32px;
  display: block;
  width: 352px;
  margin: 4px auto;
  color: wheat;
  padding: 4px 8px;
  cursor: pointer;
  background-color: blueviolet;
  border: none;
  border-radius: 12px;
  transform: transform 0, 02s;
}

.btn:hover {
  transform: scale(1.05);
}

.infos {
  max-width: 500px;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 333px;
  font-size: 24px;
}

.con1 {
  position: relative;
  bottom: 475px;
  left: 24px;
  height: 363px;
  width: 296px;
  border-radius: 16px;
  background: rgb(29, 24, 24);
}

.whatt {
  position: relative;
  left: 11px;
  top: 158px;
  width: 42px;
  border-radius: 16px;
}

.inst {
  position: relative;
  top: 11px;
  right: 28px;
  width: 57px;
  border-radius: 16px;
}

.gma {
  position: relative;
  right: 97px;
  top: 314px;
  width: 43px;
  border-radius: 16px;
}

.emai {
  position: relative;
  bottom: 53px;
  left: 88px;
  font-family: sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}

.tele {
  position: relative;
  left: 81px;
  top: 43px;
  font-family: sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}

.ins {
  position: relative;
  left: 72px;
  top: 141px;
  font-family: sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}
